.container{
    width: 1450px;
    margin: 0 auto;
}
header{
    background-color: white; 
    height: 75px;
}

.search-box{
    position: absolute;
    top:6%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 40px;
    padding: 10px;
}

.search-box i{
    margin-left: -30px;
}
.search-txt{
    width: 600px;
    height: 30px;
    border: 50px 1px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

input{
    text-align: center;
    color:black;
}

header .icon {
    text-align: right;
    margin-top: -70px;
    margin-right: 10px;
}

header .icon a{
    color: black;
    font-size: 19px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 40px;
}
.icon a:hover{
    color: gray;
}
--------------------------------------------------------------
nav{
    height:50px
}
.menu-bar{
    background-color:rgb(24, 23, 23);
    text-align: center;
}


.menu-bar ul li:hover .menu1 ul li a .fa{
    margin-left: 10px;
}
    

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    padding: 15px;
}

.menu1{
    display: none;

}

.menu-bar ul li:hover .menu1{
    display: block;
    position: absolute;
    margin-top: -8px;
    margin-left: -25px;
}

.menu-bar ul li:hover .menu1 ul{
    display: block;
    margin: 10px; 
}

.menu-bar ul li:hover .menu1 ul li{
    width: 180px;
    padding: 10px;
    border: 1px dotted white;
    background:rgb(24, 23, 23);
    border-radius: 0;
    text-align: left;
}   

.menu-bar ul li:hover .menu1 ul li a{
    color:white;
    font-size: 15px;
}

.menu-bar ul li .menu1 ul li a:hover{
    color:yellow;
}

.menu-bar a{
    color:white;
    margin-right: 30px;
    line-height: 35px;
    text-decoration: none;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.menu-bar a:hover{
    color:yellow;
}
article{
    width: 50%;
    float: left;
}
article img{
    width:400px;
    height:400px;
    margin-left: 150px;
}
aside{
    width: 50%;
    float: right;
}
aside strong{
    font-size: 20px;
}
aside .giaht{
    color:red;
    font-size: 20px;
    margin-top: 10px;
}
aside del{
    color: gray;
}
aside p{
    margin-top: 10px;
}
aside .voucher{
    color:goldenrod;
}
aside .ck strong{
    color: red;
    font-size: 20px;
}
aside .gifts strong{
    font-size: 17px;
}
aside .ck{
    margin-top: 10px;
}
aside .gifts{
    margin-top: 10px;
}
aside img{
    width: 100%;
}
footer{
    clear: both;
}
footer .rv img{
    width:70%;
}
footer .rv{
    text-align: center;
}
footer .text p{
    text-align: center;
}
.dv{
    float: left;
    font-size: 17px;
    width: 463px;
    margin: 4px;
    margin-left: 25px;
}
.dv p strong{
    text-align: center;
}
.final{
    text-align: center;
    margin-top: 20px;
    margin: 10px;
}

.final img{
    width: 50px;
    margin: 10px;
}
.final p{
    font-size: 20px;
    text-align: center;
}